/* classes start with a full stop 
    ids start with a #
*/


* {
    /* capturing everything that isn't styled 
    Wildcard...
    in css, every line need to be closed with a semi-colon
    */
    margin: 0;
    padding: 0;

}

.navbar {

background-color: red;
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 20px;
}

.navbar ul li {
    /* target only the ul li inside of the navbar */
     list-style-type: none;
     display: inline-block;

}

.navbar li a {
/* inside of the navbar class... we are targeting specific elements */
background-color: crimson;
text-decoration: none;
padding: 15px 10px;
justify-content: space-between;
align-items: center;display: flex;
}

.container {
    text-align: left;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;

}

.title {
width: 100%;
margin-top: 40x;
margin-bottom: 40px;

}

.about-me {
    width: 33.3%;
    text-align: left;
    
}

.about-me p {
         margin-bottom: 30px;
         font-size: 20px;
         
}

.image-container{
    width: 33.3%;
    
    }
    
    .image-container img {
           width: 250px;
           height
    
    }

.button {
    text-decoration: none;
    color: black;
    padding: 15px 20px;
    background-color: orange;
    border-radius: 5px;
    display: inline-block;
}

.footer {
    text-align: center;
    background-color: orange;
    color: black;
    padding: 20px 50px;
    position: absolute;
    bottom: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
